.card {
  background-color: var(--bgcolor100);
  border-radius: 10px;
  padding: 1rem 0;
  overflow: hidden;
  box-shadow: 7.2px 14.4px 14.4px var(--boxshadowcolor);
  height: fit-content;
}
.card .subtitle {
  color: var(--primarycolor300);
  margin: 0.5rem 0.8rem;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.card .description {
  margin: 0.5rem 0.8rem;
  color: var(--textcolor200);
  font-size: 1rem;
  text-transform: capitalize;
}

.card .code {
  background-color: var(--bgcolor200);
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
  position: relative;
  font-size: 1rem;
}
.code button {
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  width: 25px;
  height: 25px;
  background-color: transparent;
  color: var(--textcolor100);
  border: none;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.code button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.code button:active {
  transform: scale(1.5);
}
.card .implist {
  color: var(--textcolor100);
  font-size: 1rem;
  margin-right: 0.8rem;
  list-style-position: outside;
}
.code:hover button {
  opacity: 1;
}

.code pre::-webkit-scrollbar {
  height: 5px;
}
/* Track */
.code pre::-webkit-scrollbar-track {
  background: var(--bgcolor300);
}
/* Handle */
.code pre::-webkit-scrollbar-thumb {
  background: var(--bgcolor100);
  border-radius: 10px;
}
/* Handle on hover */
.code pre::-webkit-scrollbar-thumb:hover {
  background: var(--bgcolor200);
}
