header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor200);
  color: var(--primarycolor100);
  padding: 1rem;
}
.burgericon {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.burgericon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
header .theme-btn {
  position: absolute;
  right: 1rem;
  width: 35px;
  height: 35px;
  border-radius: 19px;
  border: none;
  background-color: var(--primarycolor100);
  transition: all 350ms ease-in-out;
}
header h1 {
  font-weight: 900;
  transition: margin 0ms ease-in-out;
}
header h1:hover {
  cursor: pointer;
  user-select: none;
}
header .theme-btn:hover {
  cursor: pointer;
  filter: brightness(110%);
  filter: drop-shadow(0 0 1.2rem var(--primarycolor100));
}
